<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304976466659-cipjroul8m8hamdbetik1kfvcej3aqqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304976466659-cipjroul8m8hamdbetik1kfvcej3aqqo</string>
	<key>API_KEY</key>
	<string>AIzaSyBW5w5nOXNYA9CyBspKXlJQEzUVeneQgnc</string>
	<key>GCM_SENDER_ID</key>
	<string>304976466659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isaacballas.VirtualTradeshow</string>
	<key>PROJECT_ID</key>
	<string>moxit-46425</string>
	<key>STORAGE_BUCKET</key>
	<string>moxit-46425.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304976466659:ios:d8282df7a776ae9069ebd6</string>
	<key>DATABASE_URL</key>
	<string>https://moxit-46425.firebaseio.com</string>
</dict>
</plist>